/* --------------- VARIÃVEL E BASE --------------- */
:root{
    /* --------------- CORES--------------- */
    --color-body:#f9fbff;
    --color-neutral: #ffff;
    --color-neutral-10:#f6f6f6;
    --color-neutral-20:#8888;
    --color-neutral-30:#525252;
    --color-neutral-40: #d9d9d9;
    --color-font-price: #5d5d5d;
    --color-red:#661c1c;
    --color-green: #259F5E;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url(img/Frame\ 1.jpg);
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

header{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0;
    z-index: 10;
}
/* ---------------  TOP NAVBAR ---------------*/
.top-navbar{
    background: var(--color-neutral-10);
    height: 20%;
    width: 100%; 
}

.top-list{
    display: flex;
    flex-direction: row;
    font-weight: 700;
    justify-content: space-around;
    list-style: none;
    padding: 5px;
}

.top-link{
    color: var(--color-red);
    letter-spacing: 0.1em;
}

/* --------------- NAVBAR --------------- */
.navbar{
    background: var(--color-neutral);
}

.navbar-container{
    display: flex;
    
}

.logo{
    color: var(--color-red);
    letter-spacing: 0.1em;
    margin-left: 44%; 
}

.logo h1{
    font-family: 'Kreon', serif;
}

/* --------------- SEARCH BOX & ITENS NAVBAR--------------- */
.search-box{
    margin-left: 8%;
}

.search-bar{
    background: var(--color-neutral);
    border-radius: 15px;
    margin: 1.7rem;
    padding: 0.3rem;
}
.search-txt{
  background: var(--color-neutral-10);
  border-radius: 15px;
  border: none;
  color: var(--color-neutral-30);
  font-size: 15px;
  outline: none;
  transition: 0.4s;
  width: 0;
}

.search-btn{
    color: var(--color-neutral-20);
    font-size: 18px;
}

.search-bar:hover > .search-txt{
    width: 240px;
    padding: 0.3rem;
}

.itens-nav{
    margin-top: 1.9rem;
    margin-left: 3%;
    font-size: 18px;
    color: var(--color-neutral-20);
}

.itens-nav:hover{
    transform: translateY(-5px);
}

/* --------------- CARRINHO  --------------- */
.w3-modal-content{
    padding-bottom: 15% !important;
}
.top-modal{
    background: var(--color-neutral-10);
    padding: 2%;
    margin-right: 2%;
    width: 100%;
}

.modal-header{
    background-color: var(--color-neutral) !important;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.25) !important;
    padding: 2% !important;
}

.modal-header h2{
    color: var(--color-red);
    font-family: 'Kreon', serif;
    letter-spacing: 0.1em;
    text-align: center;
}

.modal-header i{
    transform: translate(510px, -41px);
    font-size: 20px;
}

.modal-header span{
    color: var(--color-neutral-30);
    font-size: 30px;
    margin-right: 2%;
}

.carrinho-body{
    background: url(img/body-carrinho.jpg) !important;
}

.msg-clean{
    color: var(--color-neutral-30);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
}

.btn-home{
    align-items: center;
    border-radius: 5px;
    color: var(--color-neutral-30);
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 5%;
    background-color: var(--color-neutral-10);
    padding: 2%;
    width: 50%;
}

.btn-home:hover{
    background: var(--color-neutral);
    border: 1px solid var(--color-neutral-30);
}

/*  ---------------  DROPDOWN --------------- */

.dropdown-container{
    display: flex;
    justify-content: space-around;

}

.dropdown{
    padding: 1rem;
    position: relative;
}

.dropdown-menu{
    background-color: var(--color-neutral-10);
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    display: none;
    list-style: none;
    margin: calc(5% + 0);
    position: absolute;
    padding: 5%;
    transition: 0.4s;
    z-index: 1;
}

.dropdown-menu img{
    border-radius: 5px;
    height: 15rem;
    width: 20rem;
}
.dropdown-menu hr{
    border: 1px solid var(--color-neutral-20);
}

.dropdown-menu-cesta{
    background-color: var(--color-neutral-10);
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    display: none;
    list-style: none;
    margin: calc(5% + 0);
    position: absolute;
    padding: 5%;
    right: 0;
    transition: 0.4s;
    z-index: 1;
}

.dropdown-menu-cesta img{
    border-radius: 5px;
    height: 15rem;
    width: 20rem;
}

.dropdown-menu-cesta hr{
    border: 1px solid var(--color-neutral-20);
}

.dropdown-itens{
    color: var(--color-neutral-20);
    display: block;
    text-align: center;
    padding: 2%;
}

.dropdown-itens:hover{
    color: var(--color-neutral-30);
}

.dropdown:hover .dropdown-menu{
    display: block;
    color: var(--color-neutral-20);
}

.dropdown:hover .dropdown-menu-cesta{
    display: block;
    color: var(--color-neutral-20);
}

.dropdown-btn:hover{
    color: var(--color-neutral-20);
    border-bottom: 1px solid var(--color-red);
}
